table{
    border-collapse:collapse;
    margin-left:43%;
    margin-top:1%;
}
td{
    border: 1px solid black;
    background-color:#a8a5a5;
}
th{
    border: 2px solid black;
    background-color:#5d5d5d;
    color:#66af59;
}